@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

h1 {
  font-size: xx-large;
  margin-bottom: 20px;
  font-weight: bolder;
}

h2 {
  font-size: x-large;
  margin-bottom: 20px;
  font-weight: bold;
}

h3 {
  font-size: x-large;
  margin-bottom: 1rem;
}

p {
  margin-top: -10px;
  margin-bottom: 1rem;
  font-size: 20px;
}

ol {
  list-style-type: disc;
  font-size: large;
  margin-bottom: 30px;
  padding-left: 2rem;
}

li {
  margin-bottom: 10px;
}

a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

a:active {
  color: red;
}

a:visited {
  color: red;
  text-decoration: underline;
}

.dotted-underline {
  border-bottom: 1px dotted #333;
}

@layer components {
  .btn {
    @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-white;
  }
  .card {
    @apply p-3 rounded-md bg-white shadow-md h-full;
  }
}
